Dockerfile
Makefile
LICENSE
dist
coverage

.*
*.xml
*.d.ts
*.info
*.map
*.sh
*.lock
*.snap
*.proto
*.patch
*.tsbuildinfo
*.png
*.ico
*.txt
*.mpd
*.vtt
*.lockb
*.wgsl
*.svg
*.webp
*.otf
*.ttf

!.eslintrc.js